
.clickable {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.divider {
  border-top: 1px solid #bbb;
}

.badge {
  font-family: Nunito, sans-serif;
  padding: 1rem;
  border-radius: 6px;
  border: 1px grey solid;
  margin: 1rem;

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-right: 6px;
    gap: 1rem;

    &__title {
      display: flex;
      align-items: center;
      gap: 6px;

      & > h1 {
        margin: 0px;
        text-wrap: nowrap;
      }

      .material-symbols-outlined {
        color: green;
      }

    }

    &__info {
      display: flex;
      align-items: center;
      gap: 1rem;

      &__time {
        color: grey;
      }
    }
  }

  &__transaction {
    display: flex;
    flex-direction: row;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 50%;

      & > p {
        font-weight: 600;
        color: rgb(123, 135, 148);
        font-size: 12px;
      }

      & > a {
        color: rgb(152, 174, 235);
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__schema {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & > div {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      padding-right: 6px;

      &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        margin-bottom: 6px;

        & > p {
          font-weight: 600;
          font-size: 24px;
          margin: 0px;
        }

        &__uid {
          color: rgb(152, 174, 235);
          font-size: 14px;
          max-width: 6rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    & > div:not(:first-child) {
      border: 1px grey solid;
      display: grid;
      grid-template-columns: 1fr 1fr 6fr;
      gap: 0px;
      border-radius: 6px;

      & > div {
        padding: 6px;
      }
    }

    &__field__type {
      background-color: rgb(152, 174, 235);
      border-right: 1px solid grey;
    }

    &__field__name {
      border-right: 1px solid grey;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;

    & > button {
      background-color: rgb(76, 99, 182);
      color: white;
      min-height: 1rem;
      border: 0px solid white;
      border-radius: 6px;
      font-size: 14px;
      padding: 10px;
    }
  }
}